@charset "UTF-8";

@font-face {
    font-family: OpenSansBold;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/OpenSansBold/OpenSansBold.eot?#iefix) format("embedded-opentype"), url(fonts/OpenSansBold/OpenSansBold.woff) format("woff"), url(fonts/OpenSansBold/OpenSansBold.ttf) format("truetype");
}

@font-face {
    font-family: OpenSansLight;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/OpenSansLight/OpenSansLight.eot?#iefix) format("embedded-opentype"), url(fonts/OpenSansLight/OpenSansLight.woff) format("woff"), url(fonts/OpenSansLight/OpenSansLight.ttf) format("truetype");
}

@font-face {
    font-family: OpenSansRegular;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/OpenSansRegular/OpenSansRegular.eot?#iefix) format("embedded-opentype"), url(fonts/OpenSansRegular/OpenSansRegular.woff) format("woff"), url(fonts/OpenSansRegular/OpenSansRegular.ttf) format("truetype");
}

@font-face {
    font-family: 'fontello';
  src: url("fonts/fontello/fontello.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$ff-l : OpenSansLight;
$ff-r : OpenSansRegular;
$ff-b : OpenSansBold;

*, div {
	box-sizing: border-box;
	text-decoration: none;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: OpenSansLight,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    min-width: 320px;
    position: relative;
    line-height: 1.62857;
    background-repeat: repeat-x;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
}

img, iframe {
  max-width: 100%;
  width: 100%;
}

a {
	display: block;
}

h1, h2, h3, h4, hr, nav, p, ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main {
	background: #F5F5F5;
}

section {
	overflow: hidden;
}

header {
	position: relative;
}

// Preloader

.preloader {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: #fff;
color: #000;
text-align: center;
z-index: 9999999;
display: flex;
justify-content: center;
align-self: center;
}

.LoaderBalls {
  width: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}
.LoaderBalls__item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00f1ca;
}
.LoaderBalls__item:nth-child(1) {
  animation: bouncing 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.LoaderBalls__item:nth-child(2) {
  animation: bouncing 0.4s 0.1s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}
.LoaderBalls__item:nth-child(3) {
  animation: bouncing 0.4s 0.2s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}

@keyframes bouncing {
  0% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
  }
}


.header-bcg {
	max-width: 100%;
	margin: 0px auto; 
	height: 60vh;
	background: url('../img/heder-min.jpg') no-repeat;
	 background-size: 100% 100%;
}

.title-center {
	text-align: center;
	font-size: 1.3vh;
	padding: 1em 0em;
}

.title {
	font-family: $ff-l;
	font-size: 1.9em;
}

.logo {
	width: 60px;
}

.header-container {
	max-width: 1170px;
	margin: 0 auto;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.header__top {
	padding: .5em .5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header__top h1 {
	color: #222;
	padding: 0px 10px;
	font-size: 2.4vh;
	background: #fff;
	border-radius: 50px;
}

.header__menu {
	background: #fff;
	border-radius: 20px;
}

.header__menu li {
	display: inline-block;
}

.header__menu a {
	color: #333;
	text-transform: uppercase;
	padding: 0em 1em;
	font-size: 1.7vh;
	font-family: $ff-b;
}

.header__menu a:hover{
	background: #007191;
	color: #fff;
	border-radius: 20px;
	transition: .5s;
}

a.active-menu {
	color: #fff;
	background: #007191;
	border-radius: 20px;
	transition: .5s;
	border-radius: 20px;
}

.header__bottom {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	color: #fff;
	opacity: 0.8;
}

.text-center {
	padding-left: 5vw;
	margin: 0 auto;
	font-family: $ff-b;
}

.header__bottom h1 {
	font-size: 5vw;
	letter-spacing: 20px;
	width: 100%;
}

.header__bottom h2 {
	font-size: 3.3vh;
	text-align: right;
}

.shopping-cart__logo {
	width: 45px;
	position: relative;
}

.mini-cart  {
	position: absolute;
	display: block;
	top: -2px;
	left: 35px;
	font-weight: bold;
	color: #000;
	background: #fff;
	border-radius: 50%;
	width: 20px;
	text-align: center;
	font-size: .9em;
}

.svg--triangle {
	width: 100%;
	height: 3vw;
	position: absolute;
	bottom: 0;
}

/* About */

section.about__us {
	padding: 2em 0em;
	position: relative;
}

.about__us-items {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 8vh;
	flex-wrap: wrap;
}

.about__us-item {
	width: 25%;
	text-align: center;
	min-width: 240px;
	margin: 0 auto;
}

.about__us-item img {
	width: 75px;
}

.about__us-item:hover img{
	width: 70px;
	transition: .3s;
}

.about__us-item p {
	font-size: 1.7vh;
	padding-top: 2em;
	max-width: 300px;
	font-family: $ff-r;
	padding: 20px;
	margin: 0 auto;
}

.about__us-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 2em 0em;
}



.about__info-item p {
	max-width: 600px;
	font-size: 2.2vh;
	padding: 2em 0em;
}

.about__info-item h1 {
	font-size: 3vh;
}

.about__info-item a {
	font-size: 1.2em;
	border: 2px solid #5cdde9;
	border-radius: 30px;
	width: 180px;
	padding: 0.5em 0em;
	font-family: $ff-b;
	text-align: center;
	color: grey;
	transition: .5s;
}

.about__info-item a:hover {
	background: #5cdde9;
	color: #fff;
}

.about__info-item img {
	min-width: 360px;
}

.about__add {
	display: none;
}

.trigger {
	display: block;
}

.box-shadow-l {
	box-shadow: -20px -34px 0px 19px rgba(92,221,230,1);
}

.box-shadow-r {
	box-shadow: 19px 24px 0px 19px rgba(92,221,230,1);
}

.exemple-items {
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
	padding: 5em 0em;
}

.exemple-items p {
	font-size: 1.3em;
	padding-top: .7em;
	font-family: $ff-r;
}

.exemple__item {
	margin: 0 auto;
}


.exemple__item p:nth-child(3) {
	font-size: 1.1em;
	padding-top: .2em;
	text-decoration: line-through;

}

.exemple__item p:nth-child(4) {
	font-size: 1.1em;
	padding-top: .2em;
	font-family: $ff-r;
}

.sl-table {
	margin: 5% 0% 0% 0%;
}

.sl-table div {
	outline: none;
}

/* Send__massage */

.call-back__form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.call-back__item {
	margin: 0 auto;
}

.call-back__item:first-child {
	 width: 400px;
	min-width: 320px;
	border-top: 3px solid #007191;
	box-shadow: 0px 0px 19px 9px rgba(230,218,230,1);
}

.call-back__item:nth-child(2){
	align-self: center;
	min-width: 320px;
}

.call-back__item h3 {
	text-align: center;
	padding-top: 3em;
	letter-spacing: 3px;
	font-family: $ff-r;
}

.send__massage {
	width: 70%;
	margin: 0 auto;
	padding: 2em 0em; 
}

.send__massage input {
	width: 100%;
	margin: 0 auto;
	display: block;
	height: 40px;
	margin-bottom: 10%;
	font-family: $ff-r;
	font-size: 1.2em;
	border: 0px;
	border-bottom: 2px solid #007191;
	outline-style: none;
}

.send__massage button {
	width: 180px;
	margin: 0 auto;
	display: block;
	height: 40px;
	margin-top: 20%;
	margin-bottom: 10%;
	background: #fff;
	border: 2px solid #007191;
	border-radius: 20px;
	font-family: $ff-r;
}

.send__massage button:hover {
	background: #007191;
	color: #fff;
	border: 2px solid #fff;
	transition: .5s;
}

.send__massage label {
	font-family: $ff-r;
}

.send__massage span {
	color: red;
}

.call-back__text {
	padding: 1rem 0rem;
}

.call-back__text h1 {
	font-size: 1.8em;
	font-family: $ff-r;
}

.call-back__text p {
	font-size: 1.2em;
	font-family: $ff-r;
}

.call-back__text img {
	width: 70px;
	background: #5cdde6;
	padding: 10px;
	border-radius: 50%;
}

.eco__info {
	text-align: left;
	padding: 2em 0em;
}

.eco__info h1 {
	font-size: 1.9em;
	padding: 1em 0em;
	font-family: $ff-r;
}

.eco__info p {
	font-size: 2.2vh;
	font-family: $ff-l;
	letter-spacing: 0.07em;
}

.eco__info img {
	max-width: 700px;
	float: left;
	padding-right: 30px;
	padding-bottom: 30px;
}

.garantie {
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
	padding: 4em 0em;
	font-family: $ff-l;
	font-size: 0.9em;
}

.garantie__item {
	width: 33%;
	min-width: 250px;
	text-align: center;
	padding-bottom: 2%;
	margin: 0 auto;
}


.garantie__item img {
	width: 90px;
	margin: 1em;
}

/* Footer */

footer {
	background: linear-gradient(180deg, rgba(214,243,255,1) 46%, rgba(255,255,255,1) 100%);
	position: relative;
}

.svg--triangle-footer {
	width: 100%;
	position: absolute;
	height: 40px;
	top: 10px;
	transform: scale(1, -1.5);
}

.logo__absolut {
	  left: 0; 
  	  right: 0; 
  	  margin-left: auto; 
      margin-right: auto;
	  width: 83px;
	  position: absolute;
}

.footer__container {
	display: flex;
	flex-wrap: wrap;
	padding: 7em 10em;
}

.contacts, .navigation, .info__about-us {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 1em;
	font-family: $ff-r;
}

.contacts {
	width: 33%;
}

.contacts p {
	padding: .4em;
	font-size: 2vh;
}

.navigation {
	width: 33%;
}

.navigation a {
	padding: .4em;
	color: #000;
	font-size: 2vh;
}

.info__about-us {
	width: 33%;
}

.info__about-us {
	    font-size: 2vh;
}

.info__about-us p:nth-child(4) {
	font-weight: bold;
	text-decoration: underline;
}

.social__footer a {
	float: left;
	display: inline-block;
	padding: 0px 0px 0px 5px;
	margin-right: 5px;
	text-decoration: none;
	/* вызов спрайта и задание размеров */
	background-image: url('../img/svg/social.svg');
	background-repeat: no-repeat;
}

.va {width: 35px;height: 50px;background-position: 0px 0px;}

.wa {width: 35px;height: 50px;background-position: -100px 0px;}

.fb {width: 35px;height: 50px;background-position: -195px 0px;}

.vk {width: 35px;height: 50px;background-position: -293px 0px;}

.ins {width: 35px;height: 50px;background-position: -377px 0px;}


/* Shop page*/

.new__header-bcg {
	border-bottom: 2px solid #d6f3df;
	background: #d6f3ff;
	background: url('../img/heder-min.jpg') no-repeat;
	background-size: 100%;
}

.product {
	padding: 3vh;
}

.product > .title-center {
	padding: 2vh 0vh;
	font-size: 1.3em;
}

.product__slider {
	text-align: center;
}

.product__slider img{
	text-align: center;
	width: 300px;
	margin: 0 auto;
	box-shadow: 0px 0px 15px 3px rgba(122,122,122,0.27);
	border-bottom: 5px solid #007191;
}

.product__cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 7vh 0vh;
}


.product__card {
	width: 25%;
	min-width: 300px;
	padding: 1vh;
	align-self: baseline;
	margin:  3% 0% auto;
	font-family: $ff-r;
}

.product__card h3 {
	font-size: 1.2em;
}

.product__card img {
	width: 100%;
	height: 230px;
	box-shadow: 0px 0px 15px 3px rgba(122,122,122,0.27);
	border-bottom: 5px solid #007191;
}

.product__slider .product__card__price {
	padding: 10px 25px;
	font-family: Arial;
}

.product__card__price {
	font-size: 1.3em;
}

.product__slider .product__card-btn {
	padding: 10px 25px;	
}

.product__card__price,
.product__card-btn {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.product__card-btn {
	padding: 20px 0px;
}

.blue-btn {
	color: #222;
	align-self: baseline;
	padding: 5px 30px;
	border-radius: 10px;
	align-self: baseline;
	border: 4px solid #20638f;
}

.blue-btn:hover {
	transition: .4s;
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.add__card {
  font-family: $ff-r;
  border: none;
  background-color: #007191;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 500;
  font-size: 1em;
  outline: none;
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.add__card span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.8;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.add__card i {
  font-size: 28px;
  text-align: center;
  width: 100%;
  top: 50%;
  color: #007191;
  left: 0;
  display: block;
  position: absolute;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.add__card:before {
  border-radius: 3px;
  content: '';
  top: 3px;
  bottom: 3px;
  left: 50%;
  right: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.add__card:hover,
.add__card.hover {
  color: #000000;
}
.add__card:hover span,
.add__card.hover span {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.add__card:hover i,
.add__card.hover i {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.add__card:hover:before,
.add__card.hover:before {
  left: 3px;
  right: 3px;
  background: #ffffff;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.add__card:active:before {
  background: rgba(255, 255, 255, 0.7);
}

.add__card.active {
	 background: rgba(255, 255, 255, 0.7);
}

.add__card.active i,
.add__card.active i {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.add__card.active span,
.add__card.active span {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


/* Cart */

#cart {
	padding: 4vh 0vh;
	position: relative;
}

.wrapper-cart {
	max-width: 1400px;
	margin: 0 auto;
}

.cart__container {
	display: flex;
	position: relative;
}

.cart-empty {
	color: #d2d2d2;
    width: 300px;
    padding: 30px;
    height: 100px;
    margin: 0 auto;
    font-size: 1.5em;

}

.email-field .call-back__item { 
	width: 320px;	
}

.main-cart {
	max-width: 1000px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.main-cart__item img {
	width: 250px;
}

.main-cart__item {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	text-align: right;
	position: relative;
	padding: 30px;
	font-family: $ff-r;
	font-size: 1.1em;
	margin: 0 auto;
}

.del-goods {
	position: absolute;
	width: 35px;
	font-size: 1.3em;
	color: #007191;
	background: transparent;
	border: 2px solid #007191;
	left: 90%;
}

.minus-goods, .plus-goods {
	width: 35px;
	font-size: 1.3em;
	color: #007191;
	background: transparent;
	border: 2px solid #007191;
}

.del-goods:hover, .minus-goods:hover, .plus-goods:hover {
	background: #007191;
	color: #fff;
	transition: .3s;
}

/* Cart */ 

.container__contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 5vh 0vh;
}

.contacts__item:first-child {
	display : flex;
	flex-direction: column;
	font-family: $ff-l;
	width: 40vh;
}

.contacts__item h1:first-child {
	font-size: 3.3vh;
	padding: 2vh 0vh;
}

.contacts__item h1 {
	font-size: 2.5vh;
	padding: 2vh 0vh;
}

.contacts__item p {
	font-size: 1.6vh;
	padding: 1vh 0vh;
}

.contacts__item:nth-child(2) {
	flex-grow: 2;
}

.contacts__info p i {
	font-size: 1.5em;
	padding-right: 10px;
	color: #444;
}

.map{
    overflow:hidden;
    padding-bottom:55.25%;
    position:relative;
    height:0;
    min-width: 300px;
    height: 70vh;
    margin-top: 5vh;
}
.map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

// Calculate page

section.calculate {
	padding: 2% 0%;
	overflow: hidden;
}

.calc__price {
	border: 3px solid #5cdde9;
	border-bottom: 0px;
}

.calculate .title-center {
	font-size: 2.5vh;
	font-family: $ff-r;
	color: #333;
	letter-spacing: 2px;
	padding: 3% 0%;
}

.calc__price_items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 4%;
}

.calc__price_item input{
	height: 40px;
	font-size: 1.5em;
	font-family: $ff-r;
	border: 0px;
	border-bottom: 2px solid #5cdde9;
	color: #007191;
	min-width: 300px;
	outline: none;
	text-align: center;
}

.calc__price_item {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
}

.calc__price_item p {
	font-size: 2.3vh;
	font-family: $ff-r;
	padding-left: 20px;
}

.calc__price_item button {
	width: 250px;
	height: 50px;
	background: #fff;
	border: 2px solid #5cdde9;
	font-family: $ff-r;
	font-size: 1.5em;
	color: #007191;
}

.btn-result {
	display: flex;
	justify-content: space-around;
	margin: 5% 0%;
	flex-wrap: wrap;
}

.calc__price_item-result {
	display: flex;
	font-size: 1.3em;
	flex-wrap: wrap;
	font-family: $ff-r;
}

.calc__price_item-result p {
	padding-left: 5px;
	font-size: 1.2em;
}

#area {
	font-size: 1.2em;
	font-family: $ff-r;
	padding-left: 20px;
	color: red;
}

@media screen and (max-width: 960px)  {
	.header__menu {
	display: block;
	margin: 0 auto;
}
	.eco__info img{
	width: 100%;
	margin: 0 auto;
	padding: 2em;
}

.call-back__text {
	text-align: center;
}

.info__about-us {
	display: none;
}

.footer__container {
	justify-content: space-between;
	padding: 7vh 0vh;
}

}

@media screen and (max-width: 620px)  {

	.navigation, .contacts, {
	width: 50%;
	text-align: center;
}
	.social__footer  {
	margin: 0 auto;
}
	.product__cards {
	display: column;
	justify-content: center;
	}
	//Cart
	.cart__container {
	flex-wrap: wrap;
	margin: 0 auto;
}
		.email-field {
	margin: 0 auto;
}
}

@media screen and (max-width: 470px)  {

	.contacts {
		padding: 4em;
	}
	.navigation, .contacts {
	width: 100%;
	text-align: center;
}
}

// Page product

.goods {
	padding: 3% 0%;
}

.goods__card {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.goods__card-info_basic {
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0px 0px 2px 0px rgba(140,140,140,0.3);
	padding: 2em;
	width: 100%;
	border-bottom: 3px solid #007191;
}

.goods__card-nav ul{
	width: 100%;
	display: flex;
	padding: 10px 0px;
}

.goods__card-nav ul li a{
	padding: 0px 5px;
	padding-left: 0px;
	font-size: 1.2em;
	color: #000;
}

.goods__card-nav ul li i{
	padding: 0px 10px;
	color: #e0e0e0;
}

.goods__card-slider {
	width: 65%;
	display: flex;
	flex-wrap: wrap;
	min-width: 320px;
	padding-top: 30px;
	margin: 0 auto;
}

.goods__slider-card {
	width: 600px;
	min-width: 260px;
}

.goods__slider-card .slider-card img{
	border-bottom: 5px solid #007191;
}

.goods__slider-nav {
	width: 120px;
}

.goods__slider-nav .slider-card {
	padding: 2px;
	padding-top: 0px;
	outline: none;
}

.goods__slider-nav .slider-card img {
	border-bottom: 3px solid #007191;
	min-width: 90px;
}

@media screen and(max-width: 1165px) {
	.goods__slider-nav {
	width: 280px;
	height: 100%;
}
}

@media screen and(max-width: 480px) {
	.goods__card-info_basic {
		padding: 0px;
	}
}

.goods__card-info {
	width: 35%;
	min-width: 320px;
	display: flex;
	flex-direction: column;
}


.goods__price {
	margin: 30px 0px;
}

.goods__price span {
	font-family: $ff-r;
	font-size: 40px;
}

.type-done {
	padding: 10px 0px;
	padding-top: 20px;
}

.type-done p span {
	color: green;
	padding: 5px 0px;
}

.articul {
	font-size: 1em;
}

.product__pay {
	padding: 10px 0px;
}

.product__pay p i {	
	padding-right: 5px;
}

.product__pay p  {	
	padding: 5px 0px;
}

.share {
	padding: 10px 0px;
}

.share p {
	color: #666;
}

.goods__card-description {
	margin-top: 3%;
	width: 100%;
	font-family: $ff-r;
	box-shadow: 0px 0px 2px 0px rgba(140,140,140,0.3);
	padding: 2em;
	border-bottom: 3px solid #007191;
	
	h2 {
		font-family: $ff-l;
		font-size: 1.7em;
		padding: 15px 0px;
	}

	p{
		font-size: 1.3em;
	}
}


.animate-out {
	animation: out 2s ease-in-out forwards;
}
  
@keyframes out {
	0% {
		    transform: translate(-50%, -50%);
	}

	100% {
    transform: translate(-50%, -200%);
		
	}
}
  